
.job_description{
    width: 50%;
}

.job_content{
    display: flex;
}

.responsabilities{
    width: 50%;

}

.requirements{
    width: 50%;
}

.extra_information{
    display: flex;
    width: 30%;
    justify-content: space-between;
}

.benefits{
    margin-bottom: 5%;
}

@media only screen and (max-width: 600px) {
    
    .job_description{
        width: 100%;
    }

    .job_content{
        display: block;
    }

    .requirements{
        width: 100%;
    }

    .responsabilities{
        width: 100%;
    }

    .extra_information{
        width: 100%;
    }

}